body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-image {
    background-image: url(pictures/1379504.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 961px;
    position: relative;
}

.filter-blur {
    background: rgba(0, 0, 0, 0.089);
    backdrop-filter: blur(5px);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

h1 {
    position: absolute;
    z-index: 2;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    background-color: rgba(17, 255, 49, 0.192);
}